
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url(https://db.onlinewebfonts.com/c/899514ebd390e894ad403011515cde6f?family=HelveticaNeue-Thin);
h1, h2, h3, h4, h5, h6, p {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  color: #ececec;
}

body {
  background: url(https://images.unsplash.com/photo-1534274988757-a28bf1a57c17?auto=format&fit=crop&q=80&w=2448&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  height: 100vh;
  background-size: cover;
  margin: 0 auto;
}

/* 메인 containerbox */
.Container-area {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.logo-ser-area, .main-weather-area, .sub-weather-info {
  width: 92%;
  display: flex;
}

/* 로고 / 검색 영역 */
.logo-ser-area{
  margin-top: 60px;
  justify-content: space-between;
}
.menu-logo {
  height: 50px;
  font-size: 33px;
  color: #ececec;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.fabars {
  font-size: 35px;
}
.menu-search {
  color: #ececec;
  text-align: right;
  padding-top: 10px;
  cursor: pointer;
}

/* 메인 날씨 정보 영역 */
.main-weather-area{
  padding-top: 10em;
}
.main-weather {
  text-align: left;
  width: 100%;
}
.weather-city-title {
  font-size: 70px;
  font-weight: 500;
}
.today-date {
  font-size: 35px;
  font-weight: 500;
  padding-top: 1em;
  padding-bottom:20px ;
}
.now-weather-info{
  display: flex;
  justify-content: flex-start ;
  margin-top: 2em;
}
.weather-main-status {
  font-size: 33px;
  font-weight: 500;
  margin-top: 20px;
}
.img-icon{
  width: 160px;
}
.weather-main {
  height: 350px;
  width: 400px;
  padding-right: 30px;
}
.weather-temp {
  display: inline-block;
  font-size: 250px;
  color: #ececec;
  font-weight: 200;
  position: relative;
  font-family: "HelveticaNeue-Thin";

}
.weather-temp::after {
  content: '℃';
  font-size: 150px;
  position: absolute;
  top:10px;
}

/* 서브 날씨 정보 영역 */
.sub-weather-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 3em;
}
.weekend {
  width: 65%;
}
.div-box1 > h2, .div-box2 > h2 {
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
}
.sub-weather-info-data {
  width: 35%;
}
.div-box1, .div-box2 {
  width: 94%;
  height: 350px;
  background-color: rgba(46, 48, 47, 0.5);
  border-radius: 30px;
  margin-top: 20px;
  padding: 40px 40px;
  box-sizing: border-box;
}
.div-box2 {
  width: 100%;
}
.container-day {
  display: grid ;
  grid-template-columns: repeat(7, 14.3%);
  grid-template-rows: repeat(1, auto);
  margin-top: 2em;
  height: 200px;
  text-align: center;
  overflow: hidden;
  color:#ececec;
}
.day-item {
  box-sizing: border-box;
 }
.container-info {
  display: grid ;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  margin-top: 2em;
  height: 200px;
  color: #ececec;
}
.info-t1, .info-t2 {
  padding-top: 25px ;
  font-size: 20px;
}
.info-t2 {
  text-align: right;
}
.search-menu-area {
  /* display: none; */
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: rgba(46, 48, 47, 1);
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 50px;
}
.search {
  position: relative;
  width: 100%;
}
input {
  width: 78%;
  height: 80px;
  border: none;
  border-bottom: 2px solid #ececec;
  padding: 10px 12px;
  font-size: 14px;
  background-color: transparent;
  font-size: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  color: #ececec;
}
.searchbar-icon {
  position: absolute;
  color: #ececec;
  top: 25px;
  right: 50px;
  font-size: 33px;
}
input:focus {outline:none;}

.Bookmark-move {
  width: 100%;
  font-weight: 300;
  padding: 20px 0 ;
  background-color: transparent;
  border: none;
  color: #ececec;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
}
.Bookmark-move:first-child {
  margin-top: 2em;
}
.day-title {
  font-size: 22px;
  font-weight: 500;
  padding: 10px 0px;
}
.day-temp {
  position: relative;
  font-size: 42px;
  font-weight: 300;
  padding: 20px 0px;
}
.day-temp::after {
  content: '℃';
  font-size: 20px;
  position: absolute;
  top:27px;
}
.day-main {
  padding-top: 10px ;
  font-weight: 500;
}
.close_button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 14px;
  font-size: 24px;
  background-color: rgb(85, 85, 85);
  border: none;
  color: #ececec;
  cursor: pointer;
}

/* 반응형 화면조종 1200px */
@media screen and (max-width: 1200px) {
  .container-day {
    display: grid ;
    width: 100%;
    height:75%;
    grid-template-columns: repeat(7, 30%);
    grid-template-rows: repeat(1, auto);
    text-align: center;
    overflow:hidden; 
    overflow: scroll;
    white-space: nowrap;
  }  
  .search-menu-area {
    width: 40%;
    z-index: 99;
  }
}

/* 반응형 화면조종 768px */
@media screen and (max-width: 768px) {
  body {
    height: 100%;
  }
  .menu-logo {
    display: none;
  }
  .menu-search {
    width: 100%;
  }
  .main-weather-area {
    padding-top: 3em;
  }
  .weather-city-title, .today-date, .now-weather-info{
    text-align: center;
  }
  .weather-city-title{
    font-size: 50px;
    font-weight: 400;
  }
  .today-date {
    font-size: 30px;
    padding: 10px 0 0 0 ;
    margin-bottom: 0px;
    font-weight: 300;
  }
  .fabars {
    padding-right: 20px;
  }
  .weather-main {
    width: 100%;
    height: 100%;
    display: grid;
    padding: 0;
  }
  .now-weather-info {
    text-align: center;
    display: grid ;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(2, auto);
  }
  .weather-temp {
    padding: 0px;
    font-size: 220px;
    width: 100%;
  }
  .weather-temp::after {
    content: '℃';
    font-size: 80px;
    position: absolute;
    top: 20px;
  }
  .img-icon {
    display: none;
    width: 120px;
  }
  .weather-main-status {
    width: 100%;
    font-size: 35px;
    padding: 0px;
    margin: 0;
    font-weight: 400;
  }
  .sub-weather-info {
    flex-direction: column;
    font-weight: 400;
  }
  .container-info > div {
    font-size: 25px;
  }
  .weekend, .sub-weather-info-data {
    width: 100%;
  }
  .div-box1, .div-box2 {
    width: 100%;
    margin-bottom: 20px;
  }
  .div-box1 > h2, .div-box2 >h2 {
     font-size: 25px;
     border-bottom: 1px  solid #ececec;
     padding-bottom: 15px;
  }
  .container-day {
    display: grid ;
    width: 100%;
    height:75%;
    grid-template-columns: repeat(7, 30%);
    grid-template-rows: repeat(1, auto);
    text-align: center;
    overflow:hidden; 
    overflow: scroll;
    white-space: nowrap;
  }
  .search-menu-area {
    background-color: rgba(46, 48, 47, 1);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
  } 
}


